<configuration>
    <appSettings>
        <add key="port" value="55556"/>
        <add key="ip" value="127.0.0.1"/>
    </appSettings>
    <connectionStrings>
        <clear />
        <add name="projectDB" providerName=""
             connectionString="DataSource=C:\\Users\\Liviu\\Documents\\p\\uni\\sem4\\mpp\\project.db" />
    </connectionStrings>
</configuration>